replicaCount: 2

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: "1.24"

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

autoscaling:
  enabled: false
